.prodCon {
  position: relative;
  margin-bottom: 10px;
}

.detailImg  {
  width: 100%;
  height: auto;
}

.prodName, .prodPrice {
  position: absolute;
}

.prodName {
  opacity: 0.6;
  color: #000;
  background-color: #fee;
  font-size: .85rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 10px 15px 10px;
  top: 0;
  left: 0;
  width: -moz-available;
  width: -webkit-fill-available;
}

.prodPrice  {
  color: #fff;
  background-color: #4a4a4b;
  font-size: .75rem;
  display: inline-block;
  padding: 5px 7px;
  bottom: 45px;
  left: 10px;
}

/* Tablet-to-DT reflows */
@media only screen and (min-width: 600px) {
  #root {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .prodCon  {
    margin-inline-end: 10px;
  }
  .detailImg  {
    width: auto;
  }
}

